# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# TODO(dseomn): Switch to a Google-style configuration. This is a very minimal
# configuration with more things disabled than I'd like.

[MESSAGES CONTROL]
disable =
  bad-continuation,  # Not for Google-style indent.
  blacklisted-name,
  duplicate-code,  # Catches some import blocks.
  fixme,
  invalid-name,  # Doesn't match Google-style naming.
  no-else-return,
  no-member,  # Doesn't handle __gtype__ correctly, pytype covers this anyway.
  no-self-use,  # Complains on test methods.
  too-few-public-methods,
  too-many-public-methods,  # Complains on test methods.
  wrong-import-position  # Gets confused by gi.require_version().

[FORMAT]
max-line-length=80
ignore-long-lines=import|http|pylint|pytype|yapf

[BASIC]
no-docstring-rgx=^(_.*|main|test_.*|.*Test)$
